/* Home.module.css */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.Left {
  flex: 1;
  padding: 20px;
}

.Right {
  flex: 1;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  text-align: center;
}

.headerContainer {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibric, "Trebuchet MS", sans-serif;
  color: black;
}

.headerContainer p {
  margin-top: 15px;
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}

.headerContainer button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.headerContainer button:hover {
  background-color: #333;
}

.About {
  width: 100%;
  padding: 20px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .headerContainer p {
    font-size: 30px;
  }

  .headerContainer button {
    padding: 8px 16px;
  }
}
